## Cassandra Assignment

### Import packages

In [3]:
import pandas as pd
from cassandra.cluster import Cluster

### Load data

In [4]:
df = pd.read_csv('Inventory.csv')
df.head()

,sku,name,description,warehouse_Num
0,101,Apple iPhone 13,6.1-inch Super Retina XDR display,1
1,102,Samsung Galaxy S21,6.2-inch Dynamic AMOLED 2X display,2
2,103,Google Pixel 6,6.4-inch AMOLED display,3
3,104,Fitbit Charge 5,Advanced Health & Fitness Tracker,1
4,105,Sony PlayStation 5,Console with Ultra HD Blu-ray Disc Drive,2

### Creating a session connection to Cassandra cluster

In [8]:
clstr = Cluster()
session = clstr.connect()

### Using session to 'execute commands' on cassandra

In [9]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':1}")

In [10]:
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [14]:
session.execute("""
    CREATE TABLE m14.inventory (
        sku int,
        name text,
        description text,
        warehouse_num int,
        PRIMARY KEY(sku)
    )
""")

In [15]:
session.execute("select * from m14.inventory")

In [8]:
df.head(5)

,sku,name,description,warehouse_Num
0,101,Apple iPhone 13,6.1-inch Super Retina XDR display,1
1,102,Samsung Galaxy S21,6.2-inch Dynamic AMOLED 2X display,2
2,103,Google Pixel 6,6.4-inch AMOLED display,3
3,104,Fitbit Charge 5,Advanced Health & Fitness Tracker,1
4,105,Sony PlayStation 5,Console with Ultra HD Blu-ray Disc Drive,2

##### Printing top 10 rows from data

In [16]:
for index, row in df.head(10).iterrows():
    print(f"sku= {row[0]}, name = {row[1]}, description = {row[2]}, warehouse_num = {row[3]}")

sku= 101, name = Apple iPhone 13, description = 6.1-inch Super Retina XDR display, warehouse_num = 1
sku= 102, name = Samsung Galaxy S21, description = 6.2-inch Dynamic AMOLED 2X display, warehouse_num = 2
sku= 103, name = Google Pixel 6, description = 6.4-inch AMOLED display, warehouse_num = 3
sku= 104, name = Fitbit Charge 5, description = Advanced Health & Fitness Tracker, warehouse_num = 1
sku= 105, name = Sony PlayStation 5, description = Console with Ultra HD Blu-ray Disc Drive, warehouse_num = 2
sku= 106, name = Microsoft Xbox Series X, description = 4K Gaming Console, warehouse_num = 3
sku= 107, name = Canon EOS R6, description = Full-Frame Mirrorless Camera, warehouse_num = 1
sku= 108, name = Sony Alpha A7 III, description = Mirrorless Digital Camera, warehouse_num = 2
sku= 109, name = HP Spectre x360, description = 13.3-inch 4K UHD Touch-Screen Laptop, warehouse_num = 3
sku= 110, name = Dell XPS 13, description = 13.3-inch FHD Laptop, warehouse_num = 1

##### Insert all the data to m14.inventory table

In [17]:
for index, row in df.iterrows():
    session.execute(f"""
        INSERT INTO m14.inventory (sku,name,description,warehouse_num)     
        VALUES ({row[0]}, '{row[1]}', '{row[2]}', {row[3]});
        """
       )

In [18]:
rows = session.execute("select (sku,name,description,warehouse_num) from m14.inventory")
for row in rows:
    print(f"sku={row[0][0]}, name={row[0][1]}, description={row[0][2]}, warehouse_num={row[0][3]}")

sku=114, name=Sennheiser Momentum 3, description=Wireless Noise Cancelling Headphones, warehouse_num=2
sku=110, name=Dell XPS 13, description=13.3-inch FHD Laptop, warehouse_num=1
sku=128, name=Google Nest Hub (2nd Gen), description=Smart Display, warehouse_num=1
sku=117, name=Samsung Galaxy Tab S7, description=11-inch Android Tablet, warehouse_num=2
sku=144, name=Seagate Backup Plus Hub, description=8TB External Desktop Hard Drive, warehouse_num=2
sku=120, name=Nintendo Switch OLED Model, description=Handheld Game Console, warehouse_num=2
sku=140, name=Nikon Z50, description=Mirrorless Camera, warehouse_num=1
sku=129, name=Amazon Echo Dot (3rd Gen), description=Smart Speaker, warehouse_num=2
sku=132, name=Bose SoundLink Revolve+, description=Portable Bluetooth Speaker, warehouse_num=2
sku=105, name=Sony PlayStation 5, description=Console with Ultra HD Blu-ray Disc Drive, warehouse_num=2
sku=123, name=Apple Magic Keyboard, description=Wireless Keyboard, warehouse_num=2
sku=137, name=GoPro HERO10 Black, description=Action Camera, warehouse_num=1
sku=118, name=Apple iPad Pro, description=12.9-inch M1 Chip Tablet, warehouse_num=3
sku=125, name=Anker PowerCore Slim 10000 PD, description=Portable Charger, warehouse_num=1
sku=134, name=Jabra Elite 85t, description=True Wireless Earbuds, warehouse_num=1
sku=139, name=Canon EOS Rebel T8i, description=DSLR Camera, warehouse_num=3
sku=111, name=Apple MacBook Pro, description=13-inch M1 Chip Laptop, warehouse_num=2
sku=113, name=Bose QuietComfort 35 II, description=Wireless Noise Cancelling Headphones, warehouse_num=1
sku=130, name=Sonos One (Gen 2), description=Smart Speaker, warehouse_num=3
sku=122, name=Logitech MX Master 3, description=Wireless Mouse, warehouse_num=1
sku=143, name=Samsung T5 Portable SSD, description=500GB, warehouse_num=1
sku=116, name=LG C1 OLED TV, description=4K Ultra HD Smart OLED TV, warehouse_num=1
sku=121, name=Microsoft Surface Laptop 4, description=13.5-inch Touchscreen Laptop, warehouse_num=3
sku=112, name=Lenovo ThinkPad X1 Carbon, description=14-inch Ultrabook, warehouse_num=3
sku=135, name=Apple AirPods Pro, description=Active Noise Cancelling Earbuds, warehouse_num=2
sku=115, name=Samsung QN90A Neo QLED TV, description=4K Ultra HD Smart TV, warehouse_num=3
sku=107, name=Canon EOS R6, description=Full-Frame Mirrorless Camera, warehouse_num=1
sku=141, name=Fujifilm Instax Mini 11, description=Instant Camera, warehouse_num=2
sku=119, name=Kindle Paperwhite, description=Waterproof E-reader, warehouse_num=1
sku=131, name=JBL Flip 5, description=Waterproof Bluetooth Speaker, warehouse_num=1
sku=126, name=Philips Hue White and Color Ambiance Starter Kit, description=Smart Light Bulbs, warehouse_num=2
sku=108, name=Sony Alpha A7 III, description=Mirrorless Digital Camera, warehouse_num=2
sku=127, name=Ring Video Doorbell 4, description=Smart Doorbell, warehouse_num=3
sku=142, name=Western Digital My Passport 4TB, description=Portable External Hard Drive, warehouse_num=3
sku=109, name=HP Spectre x360, description=13.3-inch 4K UHD Touch-Screen Laptop, warehouse_num=3
sku=104, name=Fitbit Charge 5, description=Advanced Health & Fitness Tracker, warehouse_num=1
sku=102, name=Samsung Galaxy S21, description=6.2-inch Dynamic AMOLED 2X display, warehouse_num=2
sku=106, name=Microsoft Xbox Series X, description=4K Gaming Console, warehouse_num=3
sku=101, name=Apple iPhone 13, description=6.1-inch Super Retina XDR display, warehouse_num=1
sku=124, name=Belkin Boost Charge Pro 3-in-1 Wireless Charger, description=Wireless Charging Station, warehouse_num=3
sku=138, name=DJI Mavic Air 2, description=Drone with 4K Camera, warehouse_num=2
sku=133, name=Beats Studio Buds, description=True Wireless Earbuds, warehouse_num=3
sku=136, name=Sony WH-1000XM4, description=Wireless Noise Cancelling Headphones, warehouse_num=3
sku=103, name=Google Pixel 6, description=6.4-inch AMOLED display, warehouse_num=3

In [19]:
session.execute('create index on m14.inventory(warehouse_num)')

In [20]:
rows = session.execute("select (sku,name,description,warehouse_num) from m14.inventory where warehouse_num =2")
for row in rows:
    print(f"sku={row[0][0]}, name={row[0][1]}, description={row[0][2]}, warehouse_num={row[0][3]}")

sku=114, name=Sennheiser Momentum 3, description=Wireless Noise Cancelling Headphones, warehouse_num=2
sku=117, name=Samsung Galaxy Tab S7, description=11-inch Android Tablet, warehouse_num=2
sku=144, name=Seagate Backup Plus Hub, description=8TB External Desktop Hard Drive, warehouse_num=2
sku=120, name=Nintendo Switch OLED Model, description=Handheld Game Console, warehouse_num=2
sku=129, name=Amazon Echo Dot (3rd Gen), description=Smart Speaker, warehouse_num=2
sku=132, name=Bose SoundLink Revolve+, description=Portable Bluetooth Speaker, warehouse_num=2
sku=105, name=Sony PlayStation 5, description=Console with Ultra HD Blu-ray Disc Drive, warehouse_num=2
sku=123, name=Apple Magic Keyboard, description=Wireless Keyboard, warehouse_num=2
sku=111, name=Apple MacBook Pro, description=13-inch M1 Chip Laptop, warehouse_num=2
sku=135, name=Apple AirPods Pro, description=Active Noise Cancelling Earbuds, warehouse_num=2
sku=141, name=Fujifilm Instax Mini 11, description=Instant Camera, warehouse_num=2
sku=126, name=Philips Hue White and Color Ambiance Starter Kit, description=Smart Light Bulbs, warehouse_num=2
sku=108, name=Sony Alpha A7 III, description=Mirrorless Digital Camera, warehouse_num=2
sku=102, name=Samsung Galaxy S21, description=6.2-inch Dynamic AMOLED 2X display, warehouse_num=2
sku=138, name=DJI Mavic Air 2, description=Drone with 4K Camera, warehouse_num=2